{% extends 'web/base.html' %}
{% load static %}
{% block title %} | {{object.title}}{% endblock %}
{% block main %}
{% load comment_tags %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{object.thumbnail.url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>BigBug</h1>
            <span class="subheading">{{object.title}}
              {% if object.is_special %}
                <span class="badge badge-warning" style="font-size:18px;" >ویژه</span>
              {% endif %}
            </span>
              <time>{{ object.jpublish }}</time>
          </div>
        </div>
      </div>
    </div>
  </header>
<!-- Post Content -->
  <article>
    <div class="container text-justify">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% if object.is_special %}
            {% if user.is_authenticated and user.is_superuser or user == object.auther or user.is_superuser %}
              {{object.description|safe }}
            {% else %}
              {{object.description|safe|truncatewords:30|striptags }}
              <p class="alert alert-warning">این مقاله برای کاربران ویژه است <a class="alert-link" href="{% url 'account:login'%}">اشتراک ویژه</a></p>
            {% endif %}
          {% else %}
            {{object.description|safe}}
          {% endif %}

          {% render_comments object request %}
          {% include_static_jquery %}  
          {% include_bootstrap %}
        </div>
      </div>
    </div>
  </article>
{% endblock %}